.search {
  position: relative;
  box-sizing: border-box;
  width: 250px;
  height: 45px;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  display: flex;
  align-items: center;

  img {
    margin: 0px 10px 0px 15px;
  }

  input {
    outline: none;
    font-size: 14px;
    line-height: 17px;
    color: #c4c4c4;
    padding: 5px;
  }
}

.clear {
  position: absolute;
  height: 18px;
  width: 18px;
  top: 11px;
  right: 0px;
  transition: all 0.2s ease-in-out;

  &:hover {
    width: 20px;
    height: 20px;
    transform: translateY(-1px);
  }
}
